@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Tangerine:wght@700&display=swap');


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
    width: 100%;
    height: 500px;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
h4 {
    font-family: 'Tangerine', cursive;
    font-size: 33px;
}
a {
    text-decoration: none;
    color: black;
}
/* ********************* Barre de navigation *********************** */
nav {
    overflow: hidden;
    background-color: lightsteelblue;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li {
    float: right;
    font-size: 1.2em;
    text-align: center;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 8px 16px;
}
#logo {
    font-family: 'Inconsolata', monospace;
    font-size: 1.8em;
    float: left;
}
#titre {
    font-family: 'Inconsolata', monospace;
}
#titre:hover, h3:hover {  
    text-shadow: 0px 0px 9px #777;  
 } 
/* *************** IMAGE PRINCIPALE ******************* */
#imagePrincipale {
    padding-top: 60px;
    background: url(../images/S&P.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 700px;
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
}
h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 110px;
    text-shadow: 1px 3px 2px black;
}
#premierTrait {
    height: 3px;
    width: 25%;
    margin: -3px auto;
    background-color: #fffae1;
    box-shadow: 1px 3px 2px black;
}
h3 {
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}
/* *************** PRESENTATION ******************* */
#presentation {
    background-color: MintCream;
    padding: 10px 0px 100px 0;
}
#texteIntro {
    padding: 0px 20%;
    text-align: justify;
    font-size: 20px;
}
#prestations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}
.imagesPrestations {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imagesPrestations img {
    border-radius: 50%;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
    width: 300px;
	height: 300px;
}
.imagesPrestations img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
/* *************** Graphique ******************* */
#graphiques {
    height: 800px;
    background-color: #f1f2f6;
    padding: 1px 2%;
}

p{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: large;
    text-decoration: underline;
}

/* *************** Pied de page ******************* */
footer {
    background-color: rgb(184, 174, 174);
    color: MintCream;
    padding: 20px 0 10px 0;
    text-align: center;
}

input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}
textarea {
    height: 120px;
}
button {
    font-size: 1.5em;
    background-color: MintCream;
}
button:hover {
    background-color: #e55039;
    color: #fffae1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#deuxiemeTrait {
    height: 3px;
    width: 75%;
    background-color: #fffae1;
    margin: 60px auto;
}
#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright {
    width: 50%;
    text-align: left;
    color: #fffae1;
}
#icons {
    width: 50%;
    text-align: right;
}
#icons a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: #fffae1;
}
#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}