@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0;
    margin: 0;
    text-align: center;
    background: url(../images/fondstats.png) no-repeat fixed 50% 50%;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
    color : white;
}
a {
    text-decoration: none;
    color: white;
}

.center_div{
    margin: 50;
    width:50% 
}
/* ********************* NAVBAR *********************** */
nav {
    overflow: hidden;
    background-color: #aec0df;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li {
    float: right;
    font-size: 1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
#logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}
/* *************** IMAGE PRINCIPALE ******************* */
#imagePrincipale {
    padding-top: 50px;
    background-size: cover;
    height: 150px;
}
h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: white;
    font-size: 6em;
    margin-top: 110px;
    text-shadow: 1px 3px 2px whitesmoke;
}
#premierTrait {
    height: 3px;
    width: 25%;
    margin: -3px auto;
    background-color: #aec0df;
    box-shadow: 1px 3px 2px black;
}

p{
    text-align: center;
    color : white
}
/* *************** CORPS ******************* */

#texteIntro {
    padding: 0px 20%;
}

#texteIntro p {
    text-align: center;
}

