<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="UTF-8">
        <title>S&P 500</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bourse.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
        <link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li id="logo"><a href="#">S&P 500</a></li>
                    <li><a href="/stats">Statistiques</a></li>
                    <li><a href="#graphiques">Graphiques</a></li>
                    <li><a href="#presentation">Précisions sur l'indice</a></li>
                </ul>
            </nav>
            <div id="imagePrincipale">
                <h1 id="titre">S&P 500</h1>
                <div id="premierTrait"></div>
                <h3>Indice de marché</h3>
            </div>

        </header>
        <section id="presentation">
            <div id="texteIntro">
                <h2>Un indice attractif</h2>
                <p>Le S&P 500 est un indice boursier basé sur 500 
                    grandes sociétés cotées sur les bourses aux États-Unis 
                    (NYSE ou NASDAQ). L'indice est possédé et géré par 
                    Standard & Poor's, l'une des trois principales sociétés 
                    de notation financière.
                </p>
            </div>
            <div id=prestations>
                <div class="imagesPrestations">
                    <h4>Les entreprises</h4>
                    <a href="https://admiralmarkets.com/fr/formation/articles/trading-instruments/composition-sp500"><img src="{{ url_for('static', filename='images/entreprises.jpg') }}" alt="entreprises"></a>
                </div>
                <div class="imagesPrestations">
                    <h4>Critère d'adhésion</h4>
                    <a href="https://fr.wikipedia.org/wiki/S%26P_500"><img src="{{ url_for('static', filename='images/membre.png') }}" alt="membres"></a>
                </div>
                
            </div>
        </section>
        <section id="graphiques">
            <h2>Graphiques</h2>
            <form name="StockChoice" action="/#graphiques" method='POST'>
                <select name="stock" class="form-control col text-center" id="exampleFormControlSelect2">
                    <option disabled selected value> -- Selectionner une action -- </option>
                    {% for stock in liste %}
                    <option value = {{ stock }}> {{stock}} </option> 
                    {% endfor %}
                </select>
                </br>
                </br>
                <select name="datatype" class="form-control col text-center" id="exampleFormControlSelect2">
                    <option disabled selected value> -- Selectionner le type de valeur -- </option>
                    <option value = open> Prix d'ouverture </option>
                    <option value = high> Prix maximal journalier </option> 
                    <option value = low> Prix minimal journalier </option>
                    <option value = close> Prix de fermeture </option>
                </select>
                </br>
                <div class="col text-center">
                    <button type="submit" class="btn btn-secondary btn-lg col text-center">Selectionner</button>
                </div>
            </form>
            </br>
            <p>Graphique des {{dataType}} de {{stock}} en fonction de la date </p>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
            <canvas id="lineChart" witdth="90" height="70"></canvas>            
            <script>
                var ctx = document.getElementById("lineChart").getContext("2d");
                var lineChart = new Chart(ctx,{
                    type:'line',
                    data: {
                        labels:[{% for item in labels%}
                        "{{item}}",
                        {% endfor %}],
                        datasets : [
                            {
                                label: "Data points",
                                data :[{% for item in values%}
                                    "{{item}}",
                                    {% endfor %}],
                                fill: false,
                                borderColor: "rgb(75,192,192)",
                                lineTension: 0.1
                            }
                        ]
                    },
                    options: {
                        responsive:true
                    }
                });
            </script>

           
        </section>
        
        <footer id="contact">
            <div id="deuxiemeTrait"></div>
            <div id="copyrightEtIcons">
                <div id="copyright">
                    <span>© Groupe 2 Polytech Lyon; 2021</span>
                </div>
            <div id="icons">
                <a href="https://forge.univ-lyon1.fr/p1907453/snp500-website"><i class="fa fa-git"></i></a>
                <a href="https://trello.com/b/H1n4UKdG/tableau-projet-s5"><i class="fa fa-trello"></i></a>
            </div>
            </div>
        </footer>
    </body>

</html>