<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="UTF-8">
        <title>Statistiques</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/statistiques.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
        <link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}"

    </head>
    <body>

        <header>
            <nav>
                <ul>
                    <li id="logo"><a href="#">Statistiques</a></li>
                    <li><a href="/">Page principale</a></li>
                    <li><a href="#comparaison">Comparaisons</a></li>
                    <li><a href="#extrema">Extrema</a></li>
                </ul>
            </nav>
            
            <div id="imagePrincipale">
                <h1>Analyse statistique</h1>
                <div id="premierTrait"></div>
            </div>

        </header>

        <section id="Intro">
            <div id="texteIntro">
                <h2>Diverses analyses des titres composant le S&P 500</h2>
                <p> Cette page vient compléter les données renseignées sur la page que nous avons créée sur le S&P 500.<br/>
                    Elle a pour dessein d'offrir plusieurs analyses statistiques plus poussées à l'utilisateur.
                </p>
            </div>
        </section>

        <section>
            <form name="StockChoice" action="/stats" method='POST'>
                <select name="stock" class="form-control w-50 col text-center  align-items-center container" id="exampleFormControlSelect2">
                    <option disabled selected value> -- Selectionner une action -- </option>
                    {% for stock in liste %}
                    <option value = {{ stock }}> {{stock}} </option> 
                    {% endfor %}
                </select>

                </br>
                <div class="col text-center">
                    <button type="submit" class="btn btn-secondary btn-lg">Selectionner</button>
                </div>
            </form>
        </section>

        <section id="extrema">
            <h2> Min, Max, Moyenne </h2>
            <p>Le min de l'action {{stock}} est atteint le {{minDate}} et vaut {{min}}$.</p>
            <br>
            <p>Le max de l'action {{stock}} est atteint le {{maxDate}} et vaut {{max}}$.</p>
            <br>
            <p>La moyenne de l'action {{stock}} est de {{avg}}$.</p>
            <br>
          
            </ul>
        </section>

        <section id="comparaison">
            <h2> Comparaison des valeurs dans le temps </h2>
            <p>La différence entre la valeur la plus élevée et la moins élevée de l'action {{stock}} est de {{ecartType}}$.</p>
            <br>
            <p>La différence de valeur entre 2013 et 2018 de l'action {{stock}} est de {{Difference}}$.</p>
            <br>
          
            </ul>
        </section>
        
    </body>

</html>